body {
    background-color: rgb(67, 160, 71);
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
}