@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Source+Code+Pro&display=swap');
body {
    background-color: rgb(67, 160, 71);
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Fredoka', cursive;
}


p {
    font-family: 'PT Sans', sans-serif;
}

.help {
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: rgba(255, 255, 255, 0.8) solid 1px;
}

.app {
    display: flex;
}

#instructions {
    padding: 30px;
    width: 50%;
}

.editor {
    position: relative;
    background-color: rgba(224, 224, 224);
    height: 260px;
    padding: 10px 10px 10px 40px;
    border-radius: 4px;
    font-family: 'Source Code Pro',monospace;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(119, 119, 119);
    overflow: hidden;
}

.line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(153, 153, 153);
    height: 260px;
    color: rgba(213, 213, 213);
    padding: 10px 6px;
    height: 100%;
    text-align: right;
}

pre {
    margin: 0;
}

textarea {
    height: 44px;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    margin-left: 26px;
    width: 90%;
}

button  {
    background-color: rgb(209, 22, 6);
    border: none;
    border-radius: 4px;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255);
    padding: 5px 10px;
    position: absolute;
    right: 15px;
    bottom: 15px;

}

#pond {
    position: relative;
    background-color: rgb(31, 87, 104);
    width: 50vw;
    height: 50vw;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    min-width: 300px;
    min-height: 300px;
}

#forefont {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.lily-container {
    width: 20%;
    height: 20%;
}

.lily{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.lily.green {
    background-image: url('images/lilypad-green.svg');
}

.lily.red {
    background-image: url('images/lilypad-red.svg');
}

.lily.yellow {
    background-image: url('images/lilypad-yellow.svg');
}